<div class="menu-list">

  <ul class="menus list-group">
    <% @menus.each do |menu| %>
      <%= render 'menu', :menu => menu %>
    <% end %>
  </ul>
</div>
<%= link_to "New Menu", "#", :class => 'new-menu' %>

<%= render 'form', :menu => @menu %>
