<!DOCTYPE html>
<html>
<head>
	<title>Awesome Menus</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Awesome Menus <small>best app on earth</small></h1>
		</div>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
